:root {
  --blue: #0d6efd;
  --darkerblue: #093894;
  --white: #ffffff;
  --gold: #E3BA00;
  --supergold: #f3c808;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Oswald:wght@500&display=swap');

body {
  height: max-content;
  width: auto;
  background-color: white;
}

h1 {
  margin-top: 18px;
  font-size: 3.5em;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  color: var(--darkerblue);
}

h2{
  font-family: 'Abril Fatface', cursive;
  font-size: 3.5rem;
  margin-top: 30%;
  color: var(--white);
  text-align: left;
  padding-left: 1%;
  padding-right: 1%;
  width: 80%;
}

h3{
  font-family: 'Abril Fatface', cursive;
  color: var(--darkerblue);
}

@keyframes example {
  0%   {background-color: white;}
  33.3% {background-color: var(--white);}
  66.6% {background-color: var(--supergold);}
  100% {background-color: var(--supergold);}
}

.animated-header {
  animation: example 5s infinite;
}

p {
  font-size: 18px;
  color: black;
  text-align: center;
}

hr {
  width: 45%;
  height: 15px;
  color: black;
  margin: 8px auto;
}

.background-cover {
  border-radius: 6px 6px 0 0;
}

table {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
}

.image-bottom-margin {
  margin-bottom: 25px;
}

/*Navigation Section*/

.fixed-navbar {
  padding: 2px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  color: var(--darkerblue);
  z-index: 11;
  text-align: center;
}

.fixed-navbar a {
  color: var(--darkerblue);
  background-color: white;
  text-decoration: none;
  padding-left: 10px;
  display: inline-block;
}

.inquiry {
  font-size: 1.2rem;
  font-weight: 700;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

i {
  font-size: 20px;
  margin-right: 4px;
}

i:hover {
  color:  var(--blue);
}

@keyframes grow {
  from { transform: scale(1); }
  to { transform: scale(1.25); }
}


.icon {
  animation: grow 1s ease-in-out infinite 3s;
}

.smdc-logo {
  border-radius: 12px;
  height: 46px;
  width: fit-content;
  margin-right: 30px;
  background-color: white;
}

.navbar {
  z-index: 10;
  box-sizing: border-box;
}

a.nav-link {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  color: white !important;
  margin: 0 14px;
}

a.nav-link:hover {
  color: var(--supergold) !important;
}

a.nav-link:active {
  color: var(--darkerblue) !important;
}

a.nav-link.active {
  font-family: 'Oswald', sans-serif !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  color: white!important;
}

a.nav-link.active:active {
  color: var(--supergold)!important;
}

.btn-success {
  font-size: 15px;
}

.form-control {
  font-size: 16px;
  color: blue!important;
}


/*Navigation Section*/


.contact-person-size {
  height: 96px;
  width: 100%;
}

.position-fixed {
  width: 100%;
  top: 28px;
}

a.disabled {
  font-size: 16px !important;
}

.disabled {
  text-align: center;
}

.center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.bg-primary {
  background-color: var(--darkerblue) !important;
}

.navbar-toggler {
  border-color: white;
  border-width: 2px;
}


/* Home Section */

#Home {
  background-color: rgba(255, 255, 255, 0.719);
  border-radius: 12px;
  margin: 6px 6px 0 6px;
  border-radius: 6px;
  border-style: groove;
  border-color: var(--blue);
  border-width: 1px;
}


.background-cover {
  border-radius: 6px 6px 0 0;
}


.introduction {
  margin: 1% auto 0 1%;
  color: var(--white);
  text-align: left;
  font-size: 20px;
}

.aligh-left {
  text-align: left;
}


#Carousel {
  background-color: var(--white);
  border-radius: 12px;
  margin: 6px 6px 0 6px;
  border-radius: 6px;
  border-style: groove;
  border-color: var(--supergold);
  border-width: 1px;
}

.carousel {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-item img {
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  border-radius: 12px;
  border-width: 1px;
  max-width: fit-content;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='orange' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  height: 24px;
  width: 24px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='orange' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  height: 24px;
  width: 24px;
}

.carousel-indicators [data-bs-target] {
  height: 12px;
  width: 12px;
  margin-left: 1%;
  margin-right: 0;
}

.carousel-indicators .active {
  opacity: 100%;
  background-color: var(--supergold);
}

/* PROPERTIES SECTION */

#Properties {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  background-color: var(--white);
  padding-bottom: 12px;
  margin: 6px 6px 0 6px;
  border-radius: 6px;
  border-style: groove;
  border-color: var(--blue);
  border-width: 1px;
}


.card {
  overflow: hidden;
}
.card-img-top{
  transition: transform .5s ease;
}

.card-img-top:hover {
  transform: scale(1.5);
}

.container-btn-light {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.btn-primary {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #093894;
  border-color: #093894;
  z-index: 5;;
}

.btn-primary:hover {
  background-color: var(--gold);
  border-color: var(--supergold);
  color: black;
  font-weight: 700;
}


.row {
  margin-top: 2%;
}

.border-radius { /* Browse Properties Button */
  border-radius: 12px;
  margin-top: 26px;
  font-size: 1.2rem;
  font-weight: 700;
  border-width: 2px;
  border-color: var(--white);
  word-break: break-all;
  background-color: var(--gold);
  color: black;
  transition-property: background-color;
  transition-duration: 2s;
}

.border-radius:hover {
  background-color: var(--darkerblue);
  color: white;
  transition: background-color 2s ;
  
}

.up-button-icon {
  border-radius: 12px !important;
}

/*CONTACT SECTION*/
#Contact {
  background-color: var(--white);
  padding: 1%;
  margin: 6px;
  border-radius: 6px;
  border-style: groove;
  border-color: var(--blue);
  border-width: 1px;
  padding-left: 6%;
  padding-right: 6%;
}
.all-rights {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-size: 0.85rem;
  text-align: left;
}

.text-left-side {
  text-align: left;
  margin: 0;
  font-size: 0.95rem;
}

.no-decoration {
  text-decoration: none;
}

.no-decoration:hover {
  font-weight: 600;
}

.margin-contact {
  margin: 15px;
}
.padding-contact {
  padding: 24px;
}

/* BACK to TOP BUTTON */
#btn-back-to-top {
  position: fixed;
  z-index: 9;
  bottom: 20px;
  right: 20px;
  display: none;
  border-radius: 100%;
}

/* MEDIA QUERIES */

@media only screen and (max-width:600px ) {
 
  .carousel-control-prev-icon {
    height: 16px;
    width: 16px;
  }

  .carousel-control-next-icon {
    height: 16px;
    width: 16px;
  }
}

@media only screen and (max-width: 637px) { 
  .contact-person-size {
    height: 96px !important;
  }
}

@media only screen and (max-width: 441px) { 
  .inquiry{
    font-size: 12px;
  }

  i {
    font-size: 12px;
  }

}


@media only screen and (max-width: 325px) { 
  .inquiry{
    font-size: 10px;
  }

  i {
    font-size: 12px;
  }

}
