:root {
  --blue: #0d6efd;
  --darkerblue: #093894;
  --white: #ffffff;
  --gold: #E3BA00;
  --supergold: #f3c808;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Oswald:wght@500&display=swap');

body {
  height: max-content;
  width: auto;
  background-color: var(--white);
}

h1 {
  font-size: 3em;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  color: var(--darkerblue);
}

h2{
  font-family: 'Abril Fatface', cursive;
  font-size: 2.5rem;
  margin-top: 30%;
  color: var(--supergold);
  text-align: left;
  padding-left: 1%;
  padding-right: 1%;
}

p {
  font-size: 18px;
  color: black;
}

hr {
  width: 45%;
  height: 15px;
  color: black;
  margin: 8px auto;
}

table {
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
}

.main-container {
  height: 100%;
  background-color: white;
  border-style:double;
  border-width: 5px;
  border-color: #967B00;
  border-radius: 12px;
}

.smdc-logo {
  border-radius: 12px;
  height: 46px;
  width: fit-content;
  margin-right: 30px;
  background-color: white;
}

.navbar {
  margin: 5px;
  border-radius: 6px;
  border-style: groove;
  border-width: 2px;
  border-color: var(--supergold);
  width: calc(100% - 10px);
  z-index: 3;
  box-sizing: border-box;
}

a.nav-link {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 500 !important;
  font-size: 15px !important;
  color: white !important;
  margin: 0 14px;
}

a.nav-link:hover {
  color: var(--supergold) !important;
}

a.nav-link:active {
  color: var(--darkerblue) !important;
}

a.nav-link.active {
  font-family: 'Oswald', sans-serif !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  color: white!important;
}

a.nav-link.active:active {
  color: var(--supergold)!important;
}

.btn-success {
  font-size: 15px;
}

.form-control {
  font-size: 15px;
  color: blue!important;
}

.for-inquiries {
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-right: 8px;
  text-align: left;
}

/*Navigation Section*/

.contact-person-size {
  height: 30px;
  width: 100%;
}

.contact-fixed {
  position: fixed;
  top: 0;
  background-color: var(--darkerblue);
  z-index: 2;
}

.inquiry-info {
  color: white;
}

/* Home Section */

#Home {
  background-color: rgba(255, 255, 255, 0.719);
  border-radius: 12px;
  margin: 6px 6px 0 6px;
  border-radius: 6px;
  border-style: groove;
  border-color: var(--supergold);
  border-width: 1px;
}

.background-cover {

  border-radius: 6px;
  border-style: groove;
  border-color: var(--supergold);
  border-width: 1px;
}

.introduction {
  margin: 1% auto 20% 1%;
  color: var(--white);
  text-align: left;
  font-size: 18px;
}

#Carousel {
  background-color: var(--white);
  border-radius: 12px;
  margin: 6px 6px 0 6px;
  border-radius: 6px;
  border-style: groove;
  border-color: var(--supergold);
  border-width: 1px;
}

.carousel {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-item img {
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  border-radius: 12px;
  border-style: groove;
  border-color: var(--supergold);
  border-width: 1px;
  max-width: fit-content;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='orange' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  height: 20%;
  width: 20%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='orange' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  height: 20%;
  width: 20%;
}

.carousel-indicators [data-bs-target] {
  height: 12px;
  width: 12px;
  margin-left: 1%;
  margin-right: 0;
}

.carousel-indicators .active {
  opacity: 100%;
  background-color: orange;
}

/* PROPERTIES SECTION */

#Properties {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  background-color: var(--white);
  padding-bottom: 12px;
  margin: 6px 6px 0 6px;
  border-radius: 6px;
  border-style: groove;
  border-color: var(--supergold);
  border-width: 1px;
}


.card {
  overflow: hidden;
}
.card-img-top{
  transition: transform .5s ease;
}

.card-img-top:hover {
  transform: scale(1.5);
}



.btn-primary {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #093894;
  border-color: #093894;
  z-index: 5;;
}

.btn-primary:hover {
  background-color: var(--gold);
  border-color: var(--supergold);
  color: black;
  font-weight: 700;
}


.row {
  margin-top: 2%;
}

.border-radius { /* Browse Properties Button */
  border-radius: 12px;
  margin-top: 26px;
  font-size: 1.2rem;
  font-weight: 700;
  border-width: 2px;
  border-color: var(--gold);
  word-break: break-all;
  color: black;
  transition-property: background-color;
  transition-duration: 2s;
}

.border-radius:hover {
  background-color: var(--darkerblue);
  color: var(--white);
  transition: background-color 2s ;
  
}

/*CONTACT SECTION*/
#Contact {
  background-color: var(--white);
  padding: 1%;
  margin: 6px;
  border-radius: 6px;
  border-style: groove;
  border-color: var(--supergold);
  border-width: 1px;
}
.all-rights {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-size: 0.7rem;
}

/* BACK to TOP BUTTON */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  border-radius: 100%;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 502px) { /*may need to create another for smaller size*/
  .inquiry-info {
    font-size: small;
    padding-top: 5px;
  }
}

